.loader {
  animation-name: rotate;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(50);
  }
  100% {
    transform: rotate(360deg);
  }
}
